@import '../../scss/normalize/variables';
@import '../../scss/helpers/mixins';

.logo,
.search,
.mobileNav {
  padding-left: .5em;
  padding-right: .5em;
}
.wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-end;
  padding: .5em;
  margin-bottom: 2em;
}
.logo {
  
  width: 30%;
  height: 1.5em;
}


@include md {
  .nav {
    width: 30%;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
  }
}